#log, td { 
	border: 1px solid #c6c6c6; 
}

#container{
	position: relative;
	padding: 5px;
	padding-top: 25px;
	margin: 10px 0;
	width: 100%;
	height: 300px;
	overflow-y: auto;
	border: 1px solid #c6c6c6;  
	box-sizing: border-box;
}

#close_popup {
	border: 1px solid #c6c6c6;
	position: absolute;
	right: 5px;
	top: 3px;;
  	cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

#notification {
	width: 100%;
}

.close_btn {
	cursor: pointer; 
	width: 20px; 
	text-align: center; 
	vertical-align: middle;
}